@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");

$board-main-color: #413939;
$board-text-color: #f5f5f5;

$column-main-color: rgba(155, 45, 113, 0.3);
$column-text-color: #f5f5f5;

$card-main-color: rgba(248, 154, 31, 0.479);
$card-text-color: #f5f5f5;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial;
}

body {
  display: flex;
  justify-content: center;
  background: #f5f5f5;
}

.board {
  width: 100%;
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/667838/pexels-photo-667838.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  text-align: left;
  border-radius: 6px;
  border: 2px solid $board-main-color;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  color: $board-text-color;
  overflow: auto;
  h2 {
    padding: 5px;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
    font-family: "Indie Flower", cursive;
  }
}

.column-container {
  display: flex;
  width: 90%;
  height: auto;
  overflow-y: hidden;
}

.column {
  border: 2px solid $column-main-color;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  border-radius: 6px;
  min-width: 200px;
  max-width: 200px;
  margin: 5px;
  color: $column-text-color;
  text-decoration: none;
  background: $column-main-color;
  white-space: wrap;
  h3 {
    padding: 5px;
  }
  li {
    list-style-type: none;
  }
}

.card {
  border: 2px solid $card-main-color;
  border-radius: 6px;
  margin: 5px;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  font-family: Arial;
  font-weight: bold;
  text-decoration: none;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  color: $card-text-color;
  background: $card-main-color;
  p {
    padding: 3px;
  }
}

.add-card {
  border-radius: 6px;
  border: 2px solid #f5f5f5;
  cursor: pointer;
  color: #f5f5f5;
  background: inherit;
  font-family: Arial;
  font-weight: bold;
  padding: 5px;
  margin-top: 5px;
  text-decoration: none;
  &:hover {
    color: rgb(124, 219, 105);
    border-color: rgb(124, 219, 105);
    transition: .3s;
  }
}

.create-column {
  @extend .add-card;
  margin-left: 5px;
}

.btn-delete {
  border-radius: 50%;
  border: 2px solid #f5f5f5;
  cursor: pointer;
  color: #f5f5f5;
  background: inherit;
  font-family: Arial;
  font-weight: bold;
  padding: 5px;
  margin-top: 5px;
  text-decoration: none;
  &:hover {
    color: rgb(207, 45, 45);
    border-color: rgb(207, 45, 45);
    transition: .3s;
  }
  padding: 5px;
  margin: 0 0 0 3px;
}
