$board-main-color: #413939;
$board-text-color: #f5f5f5;

$column-main-color: rgb(155, 45, 113);
$column-text-color: #f5f5f5;

$card-main-color: #889acc;
$card-text-color: #f5f5f5;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial;
}

body {
  display: flex;
  justify-content: center;
  background: #f5f5f5;
}

.board {
  width: 100%;
  max-width: 300px;
  height: auto;
  text-align: left;
  background: #f5f5f5;
  border-radius: 6px;
  border: 2px solid $board-main-color;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: $board-main-color;
  color: $board-text-color;
  h2 {
    padding: 5px;
  }
  overflow: auto;
}

.column {
  border: 2px solid $column-main-color;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  border-radius: 6px;
  margin: 5px;
  color: $column-text-color;
  text-decoration: none;
  background: $column-main-color;
  white-space: wrap;
  h3 {
    padding: 5px;
  }
  li {
    list-style-type: none;
  }
}

.card {
  border: 2px solid $card-main-color;
  border-radius: 6px;
  margin: 5px;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  font-family: Arial;
  font-weight: bold;
  text-decoration: none;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  color: $card-text-color;
  background: $card-main-color;
  p {
      padding: 3px;
  }
}

.add-card {
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #777777;
  font-family: Arial;
  font-weight: bold;
  padding: 5px 14px;
  margin-top: 5px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  &:hover {
    background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
    background-color: #dfdfdf;
  }
}

.create-column {
  @extend .add-card;
  margin-left: 5px;
}

.btn-delete {
  @extend .add-card;
  padding: 5px;
  margin: 0 0 0 3px;
}
